<!DOCTYPE html>

<h1>Don't tell anyone I didn't use a DOCTYPE</h1>
<h2>HI, <%= @name + ", you a Bad Ass Mutha" %></h2>
<h3>The answer to the universe is <%= @answer_to_universe %>   </h3>

<p>But really you should use one</p>
<p>Better way to do it is coming</p>